body {
    background-image: url(../images/oriental.png)
}

h1 {
    font-family: 'Charmonman', cursive;
    text-align: center;
}
.instructions {
    font-family: 'Nunito', sans-serif;
    background-color: whitesmoke;
}

#random_number {
    font-size: 50px;
    width: 200px;
    float: left;
}

.crystals {
    margin: 10px;
    padding-top: 10px;
}

img {
    border-radius: 8px;
    width: 200px;
    height: 200px;
}

.wins {
    padding: 10px;
    margin: 10px;
}
